@import "tailwindcss";


@keyframes floatRotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  50% {
    transform: translateY(-60%) rotate(20deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.animate-float-rotate {
  animation: floatRotate 14s linear infinite;
}